<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--parallel= "classes" thread-count="2" > 

<class name="com.xyz.qa.testcases.CustomersPageTest" />
  <parameter name="browser" value="chrome"></parameter>
<parameter name="browser" value="Edge"></parameter>-->
<suite name="Capstone Project">
  <test thread-count = "5" name="XYZ Bank Test">
    <classes>
      <class name="com.xyz.qa.testcases.TransactionsTest"/>
      <class name="com.xyz.qa.testcases.WithdrawValidTest"/>
      <class name="com.xyz.qa.testcases.OpenAccountInvalidTest"/>
      <class name="com.xyz.qa.testcases.WithdrawlInvalidTest"/>
      <class name="com.xyz.qa.testcases.SearchCustomersTest"/>
      <class name="com.xyz.qa.testcases.DepositValidTest"/>
      <class name="com.xyz.qa.testcases.DepositInvalidTest"/>
      <class name="com.xyz.qa.testcases.AddCustomerValidTest"/>
      <class name="com.xyz.qa.testcases.DeleteCustomersTest"/>
      <class name="com.xyz.qa.testcases.LoginCLTest"/>
      <class name="com.xyz.qa.testcases.AddCustomerInvalidTest"/>
      <class name="com.xyz.qa.testcases.OpenAccountValidTest"/>
    </classes>
  </test> <!-- XYZ Bank Test -->
</suite> <!-- Capstone Project -->
